.counter{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    
}
.counter-bg{
    background-color: #E8C2F3;
    padding: 40px;
}
.main-bg{
    background-color: #ffff;
    padding: 20px;
    border-radius: 0.5em;
    box-shadow: 10px 10px 5px 0px rgba(182,126,199,0.75)
}
p{
    text-align: center;
    margin-top: 1em;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: blue;
    margin-bottom: 1em;
}
.icons{
    margin-top: 2em;
    display: flex;
    gap: 0.5em;
}
.arrow{
    font-size: 3rem;
    background-color: #EFEFEF;
    padding: 10px;
}

.rotate {
    transform: rotateY(180deg);
}